.menu-row {
  position: fixed;
  display: flex;
  z-index: 25;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin-left: 10px;
}

.menu {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  margin-top: 15px;
  background-color: #003c64;
  border: white solid 1px;
  transition: margin-left 0.7s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease;
  box-shadow: 10px 6px 0 rgb(0, 60, 99, 0.26);
}

.menu:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 12px 8px 10px rgba(0, 0, 0, 0.26);
  z-index: 3;
}

.menu.active:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 12px 8px 10px rgba(255, 228, 196, 0.26);
  z-index: 3;
}

.link-group {
  display: flex;
  flex-direction: row;
  gap: 0px;
}

.linkedin,
.github {
  height: 40px;
  width: 60px;
  color: white;
  font-size: 20px;
}

.link-menu.active {
  height: 40px !important;
  width: 60px !important;
  color: black !important;
  font-size: 20px;
  margin-left: 0px !important;
}

body {
  background-color: white;
  user-select: none;
  font-family: "Press Start 2P", monospace;
}

body > :not(header):not(footer) {
  margin: 0 400px;
}

.contact h2 {
  margin: 0 !important;
  width: 100%;
}

/* $Check if it works */
body > :not(.projects .VD .logo) {
  user-select: none;
}

.line {
  background-color: white;
  width: 20px;
  height: 3px;
  margin: 2.5px;
  border-radius: 1px;
}

.overlay {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  background: #003c64;
  transition: width 0.7s ease-out, opacity 0.7s ease-out;
  opacity: 0;
  pointer-events: none;
}

.overlay.active {
  width: 100vw;
  opacity: 1;
  pointer-events: all;
  overflow: hidden;
}

.menu.active {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  margin-top: 15px;
  margin-left: 45px;
  background-color: #cbfaf5;
  border: rgba(0, 0, 0, 0.596) solid 1px;
  transition: margin-left 0.7s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease,
    box-shadow 0.3s ease;
  box-shadow: 10px 6px 0 rgb(202, 250, 245, 0.568);
}

.line.active {
  background-color: rgba(0, 0, 0);
}

.menu-button {
  position: relative;
  text-align: left;
  width: 100vw;
  color: #cbfaf5;
  background-color: rgba(245, 222, 179, 0);
  border: 0;
  font-family: "Press Start 2P", monospace;
  font-size: 35px;
}

.menu-button:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 0;
  height: 2px;
  background: #cbfaf5;
  transition: width 0.3s ease;
}

.menu-button:hover:after {
  width: 100vw;
}

.overlay-buttons {
  user-select: none;
  position: absolute;
  display: grid;
  justify-items: start;
  top: 90px;
  left: -40px;
  gap: 13px;
  transition: margin-left 0.7s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease,
    box-shadow 0.3s ease;
}

.overlay-buttons.active {
  display: grid;
  justify-items: start;
  transition: margin-left 0.7s cubic-bezier(0.4, 0, 0.2, 1);
  top: 20px;
  margin: 70px;
  margin-left: 100px;
  gap: 13px;
  transition: margin-left 0.7s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease,
    box-shadow 0.3s ease;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home img {
  user-select: none;

  width: 400px;
  height: auto;
  display: block;
}

.about {
  /* text  */
  user-select: none;
  color: #525252;
  font-family: "Press Start 2P", monospace;
  font-size: 15px;
  text-align: left;
  line-height: 1.8;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.599);
}

.scroll-arrow {
  display: flex;
  width: 50px;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 40px;
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.scroll-arrow.scrolled {
  display: flex;
  width: 50px;
  opacity: 0;
  transform: translateY(30px);
}

.projects {
  text-align: center;
}

/* $ maybe change this */

.divider {
  position: relative;
  justify-content: center;
  border-top: 5px dotted #525252;
  height: 10px;
  margin: 60px auto 0 auto;
  width: 500px;
  height: 0;
}

.projects h2,
h1,
h3 {
  display: inline-block;
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Press Start 2P", monospace;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #003c64;
  padding: 10px;
  padding-right: 15px;
  border-radius: 3px;
  line-height: 5px 20%;
  line-height: 1.4;
}

/* .projects .VD {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects .VD .logo {
  height: 100px;
  width: auto;
  margin-top: -100px;
  margin-bottom: 250px;
  margin-left: -800px;
  cursor: pointer;
  transition: transform ease 0.5s;
}

.projects .VD .logo:hover {
  transform: scale(1.5);
  transition: transform ease 0.5s;
}

.projects .VD .screenshot {
  display: flex;
  height: 600px;
  width: auto;
  margin-top: -200px;
} */

.restaurant p {
  user-select: none;
  color: #525252;
  font-family: "Press Start 2P", monospace;
  font-size: 15px;
  text-align: left;
  line-height: 1.8;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.599);
  margin: 40px auto;
}

.restaurant-image {
  display: flex;
  margin: 0 auto;
  width: 700px;
  height: auto;
}

.restaurant-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  height: auto;
  gap: 45px;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}

.restaurant-buttons.active {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease-out;
}

.restaurant-buttons button {
  z-index: 2;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 180px;
  margin-top: 15px;
  background-color: #003c64;
  border: white solid 1px;
  transition: margin-left 0.7s cubic-bezier(0.4, 0, 0.2, 1), transform 0.3s ease;
  box-shadow: 10px 6px 0 rgb(0, 60, 99, 0.26);
  font-family: "Press Start 2P", monospace;
  color: white;
  font-size: 16px;
}

.restaurant-buttons button:hover {
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 12px 8px 10px rgba(0, 0, 0, 0.26);
  z-index: 3;
}

.restaurant-image {
  box-shadow: 5px 5px 0 rgb(0, 60, 99, 0.26);
}

.landlord p {
  user-select: none;
  color: #525252;
  font-family: "Press Start 2P", monospace;
  font-size: 15px;
  text-align: left;
  line-height: 1.8;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.599);
  margin: 40px auto;
  margin-top: 50px;
}

.landlord img {
  width: 30%;
  box-shadow: 5px 7px 0 rgb(0, 60, 99, 0.26);
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.contact h1 {
  margin: 0 auto;
  margin-top: 40px;
  font-family: "Press Start 2P", monospace;
  font-size: 30px;
  text-align: center;
  color: white;
  background-color: #003c64;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 3px;
}

.contact h2 {
  display: flex;
  width: auto;
  margin-bottom: 100px;
  font-family: "Press Start 2P", monospace;
  font-size: 30px;
  text-align: center;
  color: #525252;
  padding: 10px 20px;
}

.contact h2 a {
  text-decoration: none;
  color: #06b3df;
}

.contact h2 a:hover {
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: baseline;
  align-items: end;
  text-align: center;
  background-color: #525252;
  /* border-top: 4px solid #06b3df; */
  height: 60px;
  margin: -8px;
}

.credits {
  width: 100%;
  color: #f5d0a5;
  font-family: "Press Start 2P", monospace;
  font-size: 15px;
  text-align: center;
  /* display: flex; */
}

.spacing {
  display: flex;
  flex-direction: row;
  pointer-events: none;
  user-select: none;
}

.home-button {
  cursor: pointer;
}

.about-button {
  cursor: pointer;
}

.projects-button {
  cursor: pointer;
}

.contact-button {
  cursor: pointer;
}
